@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --dark-green: #092635;
    --dark-green2: #1B4242;
    --less-dark: #5C8374;
    --less-dark2: #9EC8B9;
}
html,body{
    overflow: hidden;
}
#root{
    overflow: hidden !important;
    position: relative;
    height: 100vh;
}