@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
:root {
    --dark-green: #092635;
    --dark-green2: #1B4242;
    --less-dark: #5C8374;
    --less-dark2: #9EC8B9;
}
html,body{
    overflow: hidden;
    cursor: none;
}
#root{
    overflow-x: hidden !important;
    position: relative;
    height: 
    100vh;
}
.work{
    font-family: 'Nunito', sans-serif;
}
.fa-star1 {
    position: absolute;
    animation: rotateAndscale 300ms ease-in-out infinite;
}
.fa-star2{
    position: absolute;
    font-size: 12px;
}
.color1 {
    color: #8bf7cd;
    font-size: 8px;
}

.color2 {
    color: #5C8374;
    font-size: 8px;
}

.color3 {
    color: #5C8374;
    font-size: 8px;
}

.color4 {
    color: #1B4242;
    font-size: 8px;
}

.color5 {
    color: #092635;
    font-size: 8px;
}

@keyframes rotateAndscale {
    0% {
        transform: rotate(0) scale(1.5);
        opacity: 1;
    }
    100% {
        transform: rotate(40deg) scale(0);
        opacity: 0;
    }

}